services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SA_PASSWORD=yourStrong(!)Password
      - ACCEPT_EULA=Y
    
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-Usa", "-PyourStrong(!)Password", "-Q", "select 1"]
      interval: 1s
      retries: 20
    
    ports:
      - "1433:1433"
    